/* have to leave this in place or it looks weird. It's mostly for like safe areas in phones and the very border of some browsers*/

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #faf8f5;
  min-width: 1000px;
  width: auto;
  min-height: 100vh;
}
